[submodule "purescript-concur"]
	path = purescript-concur
	url = https://github.com/ajnsit/purescript-concur
[submodule "purescript-scribble"]
	path = purescript-scribble
	url = https://github.com/jonathanlking/purescript-scribble
