[submodule "purescript-scribble-concur"]
	path = purescript-scribble-concur
	url = https://github.com/jonathanlking/purescript-scribble-concur
[submodule "purescript-concur"]
	path = purescript-concur
	url = https://github.com/ajnsit/purescript-concur
